*{padding: 0;margin: 0;box-sizing: border-box;}
body{
    height: 100vh;
    background: radial-gradient(at bottom,#FC427B,#7743C0,#7743C0,#FC427B);
}
#can{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #121212;
    border:2px solid #6632B0; 
}