:root{
    --mcol1:#8854d0;
    --mcol2:#7743C0;
    --mcol3:#6632B0;
    --mcol4:#5521A0;
    --dcol1:#294362;
    --dcol2:#183251;
    --dcol3:#072140;
    --dcol4:#061030;
    --lcol1:#FFFFFF;
    --lcol2:#EEEEEE;
    --lcol3:#DDDDDD;
    --lcol4:#CCCCCC;
    --ff1:monospace;
    --ff2:sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--ff2);
}